@{
    ViewData["Title"] = "Home Page";
}

    <body>
        <iframe src='https://webchat.botframework.com/embed/recommend_bot?s=20JZGvlrTcA.JS7rh1ZZeSZtCm05RidPak5Qoa9NV4jTCTqSBCzKRpw' style='min-width: 400px; width: 30%; min-height: 500px;'></iframe>
    </body>